@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h3 {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

.span,
form {
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: baseline;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    display: flex;
}

/*Modal*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 5s ease-in-out, visibility 0s 3s;
    z-index: 999;
}

.modal-overlay.show {
    opacity: 1;
    visibility: visible;
}

.modal-form {
    animation: modal-scale-in 0.3s ease-in-out forwards;
}

.modal-form.scale-out {
    animation: modal-scale-out 0.3s ease-in-out forwards;
}

@keyframes modal-scale-in {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes modal-scale-out {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

/*lottie*/
.lottie {
    display: none;
}

.loading-image>.lottie {
    display: flex;
}

.loading .preload-text {
    display: none;
}

/*Room border, room name*/
.border-rounded-animation {
    border-radius: 100%;
    transition: border-radius 300ms;
    animation-timing-function: linear;
}

.room-container:hover .border-rounded-animation {
    border-radius: 19px;
}

.active-bar,
.active-bar-selected {
    position: absolute;
    top: calc(50% - 10px);
    bottom: 0;
    left: -14px;
    right: 0px;
    width: 6px;
    height: 35%;
    border-radius: 6px;
    display: none;
    animation: active-bar-scale-in 130ms ease-in-out forwards;
    background-color: #000;
}

.active-bar-selected {
    display: block;
    animation: active-bar-selected-scale-in 130ms ease-in-out forwards;
}

.room-container:hover .active-bar {
    display: block;
}

@keyframes active-bar-scale-in {
    0% {
        opacity: 0.5;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes active-bar-selected-scale-in {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scaleY(2);
    }
}

.hover-room-name {
    display: none;
    transition: opacity 150ms ease-in-out, transform 130ms ease-in-out;
    opacity: 0;
}

.room-name-box {
    padding: 6px;
    border-radius: 4px;
    margin-left: 10px;
    max-width: 200px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 0;
}

.pointer {
    position: absolute;
    left: 5px;
    top: 35%;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #fff;
}

.room-container:hover .hover-room-name {
    display: block;
    opacity: 1;
    animation: shake 100ms ease-in-out forwards;
}

@keyframes shake {
    0% {
        transform: scale(0.9);
        transform: translateX(-1px);
    }

    100% {
        transform: translateX(1);
        transform: translateX(0px);
    }
}

.scroller {
    overflow: hidden scroll;
}

.content {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    min-height: 0;
    flex: 1 1 auto;
}

.sidebar {
    display: flex;
    flex-direction: column;
    min-height: 0;
    width: 240px;
    flex: 0 0 auto;
    overflow: hidden;
}

.chat-1 {
    min-width: 0;
    min-height: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    flex: 1 1 auto;
}

.chat-contet {
    min-width: 0;
    min-height: 0;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    position: relative;
}

.chat-content2 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    flex: 1 1 auto;
}

.messages-wrapper {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
    z-index: 0;
}

.scroller-content {
    overflow-anchor: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    min-height: 100%;
    scrollbar-color: #DBDEE1 #F2F3F5;
    overflow-anchor: none;

}

.layers {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
    min-width: 0;
    min-height: 0;
}

.scrollerBase {
    min-height: 0;
    flex: 1 1 auto;
}

.scrollerContent {
    overflow-anchor: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    min-width: 100%;
    position: relative;
}

.message-time {
    display: none;
}

.message:hover .message-time {
    display: block;
}

.custom-divider {
    z-index: 1;
    border-top: thin solid #E1E2E4;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    position: relative;
    left: auto;
    right: auto;
}

.divider-2 {
    margin-left: 1rem;
    margin-right: 0.875rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.day-gap-divider {
    display: block;
    flex: 0 0 auto;
    padding: 2px 4px;
    line-height: 13px;
    font-size: 12px;
    margin-top: -10px;
    font-weight: 600;
    pointer-events: none;
    color: hsl(228 calc(1 * 5.2%) 38% / 1);
    border-radius: 8px;
}

.scrollbarContainer {
    scrollbar-width: none;
    backface-visibility: hidden;
}

/*Text input*/
.textArea {
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.375rem;
    width: 100%;
    height: 44px;
    min-height: 44px;
    color: black;
    position: relative;
    resize: none;
    appearance: none;
}

.slateTextArea {
    padding-right: 10px;
    left: 0;
    right: 10px;
}

.markup {
    font-size: 1rem;
    line-height: 1.375rem;
    user-select: text;
}

.fontSizePadding {
    padding-bottom: 11px;
    padding-top: 11px;
}

.embedMedia {
    grid-column: 1/1;
    border-radius: 4px;
    contain: paint;
}

.imageContainer {
    display: flex;
    flex-flow: row nowrap;
    flex: auto;
    width: 100%;
    height: 100%;
}

.imageContent {
    display: flex;
    flex-flow: column nowrap;
    flex: auto;
    width: 100% !important;
    height: 100% !important;
    max-height: 100%;
    border-radius: 0;
    align-items: center;
    justify-content: center;
}

.wrapper {
    box-sizing: border-box;
    display: flex;
    padding: 12px;
    height: 48px;
    border-radius: 24px;
    background-color: hsl(0 calc(1 * 0%) 0% /.6);
    color: white;
    flex: 0 0 auto;
    pointer-events: none;
}

.icon-wrapper {
    pointer-events: auto;
    opacity: 0.6;
    flex: 0 0 auto;
    cursor: pointer;
    transition: opacity .25s, color.25s;
    display: flex;
    align-items: center;
}

.icon-wrapper:hover {
    opacity: 1;
}

.grid-1 {
    overflow: hidden;
    padding: 0.5rem 1rem 1rem 0.75rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.embedMedia {
    max-width: 400px;
    max-height: 300px;
    margin-top: 16px;
    grid-column: 1/1;
    border-radius: 4px;
    contain: paint;
}

.youtube-container {
    display: grid;
    height: fit-content;
    grid-auto-flow: row;
    grid-row-gap: 0.25rem;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    text-indent: 0;
    min-height: 0;
    min-width: 0;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    position: relative;
}

.embedWrapper {
    display: grid;
}

/*image layout*/
.attachmentContainer {
    display: grid;
    height: fit-content;
    grid-auto-flow: row;
    grid-row-gap: 0.25rem;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    text-indent: 0;
    min-height: 0;
    min-width: 0;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    position: relative;
}

.messageAttachemnt {
    display: flex;
    flex-flow: row nowrap;
    max-width: 100%;
    height: 100%;
    justify-self: auto !important;
    border-radius: 2px;
    max-height: inherit;
}

.imageContent_2 {
    display: flex;
    flex-flow: column nowrap;
    flex: auto;
    width: 100%;
    height: 100%;
}

.imageContent {
    display: flex;
    flex-flow: row nowrap;
    flex: auto;
    width: 100%;
    height: 100%;
}

.imageWrapper {
    display: block;
    max-height: inherit;
    margin: auto;
    height: 100%;
    cursor: pointer;
    user-select: text;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.oneByTwoGrid {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.oneByTwoLayout {
    max-height: 350px;
}

.oneByTwoGridItem {
    flex: 1;
    min-width: 0;
}

.oneByTwoSoloItem {
    flex: 2;
}

.oneByTwoDuoItem {
    flex: 1;
}

.oneByOneGrid {
    max-width: 100%;
    border-radius: 8px;
    overflow: hidden;
    display: inline-block;
    width: fit-content;
    max-height: 350px;
}

.twoByTwoGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 4px;
    max-height: 350px;
}

.threeByThreeGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4px;
}

.oneByTwoGrid+.threeByThreeGrid {
    margin-top: 4px;
}

/*Layer for focus content*/
.layerContainer {
    background: none !important;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    z-index: 1002;
    overflow: hidden;
}

.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(0);
    pointer-events: auto;
}

.layer_ad {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    pointer-events: none;
}

.modal_image {
    background: transparent !important;
    box-shadow: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    flex-direction: column;
    margin: 0 auto;
    pointer-events: all;
    position: relative;
    max-height: 100%;
    animation: modal-scale-in_v2 0.2s ease-in-out forwards;
}

@keyframes modal-scale-in_v2 {
    0% {
        opacity: 0.5;
        transform: scale(0.5);
    }

    50% {
        opacity: 1;
        transform: scale(1.05);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.carouselModal {
    width: 100vw;
    height: 100vh;
}

.modalCarouselWrapper {
    align-items: center !important;
}

.attachWrapper {
    position: sticky;
    flex: 0 0 auto;
    align-self: stretch;
}

.attachButton {
    cursor: pointer;
    height: 44px;
    padding: 10px 16px;
    position: sticky;
    top: 0;
    background-size: cover;
}

.attachWrapper:hover .attachButon_inner {
    animation: attach-btn-hover 1s ease-in-out infinite;
}

@keyframes attach-btn-hover {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.7);
    }

    100% {
        transform: scale(1);
    }
}

.tooltip-wrapper {
    background-color: #fff;
    box-shadow: 0 0 0 1px hsla(240, calc(1 * 7.7%), 2.5%, 0.08);
    display: grid;
    grid-auto-flow: column;
    box-sizing: border-box;
    height: 32px;
    border-radius: 4px;
    align-items: center;
    justify-content: flex-start;
    user-select: none;
    transition: box-shadow .1s ease-out;
    position: relative;
}

.action-bar {
    transform: translate(35%, -35%);
}

.right {
    transform: rotate(90deg);
}

.left {
    transform: rotate(270deg);
}

.arrowContainer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: all;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    line-height: 0;
    cursor: pointer;
    font-size: 0;
}

.click {
    animation: click 50ms linear forwards;
}

@keyframes click {
    0% {
        transform: translateY(-21px);
    }
}

.blur-load {
    background-size: cover;
}
.blur-load.loaded > img {
    opacity: 1;
}
.blur-load > img {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 5%, 54%);
    }

    100% {
        background-color: hsl(210, 3%, 14%);
    }
}

.panels{ 
    flex: 0 0 auto;
}

.sidebarRegion {
    flex: 1 0 218px;
}
.closeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 36px;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.contentRegion {
    position: relative;
    display: flex;
    flex: 1 1 800px;
    align-items: flex-start;
    background: #fff;
}

.contentTransitionWrap {
    flex: 1;
    height: 100%;
}
.contentRegionScroller {
    height: 100%;
    position: static;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow-x: hidden;
    background-color: #fff;
    justify-content: flex-start;
    overflow: hidden scroll;
    padding-right: 0px;
}
.flex_1_1{
    flex: 1 1 auto;
}
.toolsContainer{
    position: relative;
    flex: 0 0 36px;
    margin-right: 35px;
    width: 60px;
    padding-top: 60px;
}
.login-container {
    background-color: #0093e9;
    background-image: linear-gradient(160deg, #32db55 0%, #5532db 100%);
}
.move-up {
    transform: translate(20px, 10px) scale(1) !important
}
.label {
    margin: 0;
    z-index: 1;
    line-height: 1.4;
    pointer-events: none;
    transform: translate(20px, 22px) scale(1);
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    color: rgba(255, 255, 255, 0.72);
    display: block;
    font-size: 0.875rem;
    font-family: Brutal, sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.2px;
    text-transform: unset;
    transform-origin: top left;
}
.input-field {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.top-to-bottom {
    animation: from-top 0.1s cubic-bezier(0.5, 0, 0.5, 1) forwards;
}

@keyframes from-top {
    0% {
        transform: translateY(-15%);
        opacity: 0.1;
    }
    25% {
        transform: translateY(-10%);
        opacity: 0.3; /* Gradually increase opacity */
    }
    50% {
        transform: translateY(-5%);
        opacity: 0.6; /* Gradually increase opacity */
    }
    75% {
        transform: translateY(-2%);
        opacity: 0.9; /* Gradually increase opacity */
    }
    100% { 
        transform: translateY(0);
        opacity: 1; /* End with opacity 1 */
    }
}

.scrollerBase {
    position: relative;
    box-sizing: border-box;
    min-height: 0;
    flex: 1 1 auto;
}
.fade {
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
}

.container__43554 {
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .02em;
    font-weight: 600;
    flex: 1 1 auto;
} 

.container__26baa {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
    width: 100%;
    flex: 0 0 auto;
    padding: 8px;
    min-height: 48px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 20px;
    cursor: default;
    z-index: 2;
}

.item__48dda {
    position: relative;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    font-weight: 500;
}
.topPill__63ad4 {
    border-radius: 4px;
    margin: 0 8px;
    padding: 2px 8px;
}
.tabBar__73938  {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 40px;
    -webkit-app-region: no-drag;
}